{% extends 'shop/base.html' %}

{% load static %}


{% block title %}
    Cart
{% endblock %}

{% block img %}
url('{% static 'images/main_white.jpg' %}')
{% endblock %}


{% block content %}

{% if not cart_items %}
<br>
<br>
<div class="container-fluid text-center align-middle">
    <img src="{% static 'images/panda_1.png' %}" alt="" style="max-height: 100%; max-width: 100%;">
    <h1 class="text-center product_title">
        Ваша корзина пуста
    </h1>
    <br>
    <p class="text-center">
        Нажмите <span class="badge badge-pill badge-danger mr-1"><a class="text-light" href="/">ЗДЕСЬ </a></span>что бы продолжить покупки
    </p>
</div>

{% else %}
<div class="container h-100">
    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <a href="/" style="text-decoration: none;">
                <button type="button" class="btn btn-lg btn-block text-light border border-secondary" style="background-color: #5C6065">
                    Вернуться к покупкам
                </button>
            </a>
        </div>
    </div>
    <div class="row justify-content-md-center h4 m-3">
        <div class="col-sm text-center">
            Ваша корзина товаров
        </div>
    </div>
    <div class="row justify-content-md-center h4 m-3">
        <div class="col-sm text-center">
            Общая стоимость всех товаров в Вашей корзине:
        </div>
    </div>
    <div class="row justify-content-md-center h2 m-3">
        <div class="col-sm text-center">
            {{item_count}} шт.  <span class="badge badge-pill badge-danger mr-1"> {{total}} ₽</span>
        </div>
    </div>
</div>


{% for cart_item in cart_items %}
<div class="container bg-light mt-2 mb-2">
    <div class="row align-items-center justify-content-between">
        <div class="col-xl-2 text-center m-2 d-flex flex-column justify-content-center">
            <a href="{{cart_item.product.get_url}}">
                <img src="{{cart_item.product.image.url}}" alt="item" width="100%" height="100%">
            </a>
        </div>
        <div class="col-xl-9 p-2 text-center">
            <p class="text-uppercase font-weight-bold">{{cart_item.product.name}}</p>
            Арт: {{cart_item.product.id}}
            <br>
            Цена: {{cart_item.product.price}}₽
            <br>
            Кол-во: {{cart_item.quantity}}
        </div>
        <div class="col-md p-2 text-center" style="vertical-align: middle;">
            {% if cart_item.quantity <  cart_item.product.stock %}
                <a href="{% url 'add_cart' cart_item.product.id %}" style="text-decoration: none;">
                    <i class="material-icons cart-icon h2 text-success">
                        add_circle_outline
                    </i>
                </a>
                <a href="{% url 'cart_remove' cart_item.product.id %}" style="text-decoration: none;">
                    <i class="material-icons cart-icon h2 text-danger">
                        remove_circle_outline
                    </i>
                </a>
                <a href="{% url 'cart_remove_product' cart_item.product.id %}" style="text-decoration: none;">
                    <i class="material-icons cart-icon h2 text-dark">
                        delete_outline
                    </i>
                </a>
            {% elif cart_item.quantity ==  cart_item.product.stock %}
                    <i class="material-icons cart-icon h2 text-silver">
                        panorama_fish_eye
                    </i>
                <a href="{% url 'cart_remove' cart_item.product.id %}" style="text-decoration: none;">
                    <i class="material-icons cart-icon h2 text-danger">
                        remove_circle_outline
                    </i>
                </a>
                <a href="{% url 'cart_remove_product' cart_item.product.id %}" style="text-decoration: none;">
                    <i class="material-icons cart-icon h2 text-dark">
                        delete_outline
                    </i>
                </a>
            {% else %}
                <a href="{% url 'cart_remove_product' cart_item.product.id %}">
                    <i class="material-icons cart-icon h2 text-dark">
                        remove_circle_outline
                    </i>
                </a>
                <a href="">
                    <i class="material-icons cart-icon h2 text-dark">
                        delete_outline
                    </i>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% endif %}
{% endblock %}