{% load specifications %}
<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mb-5">
  <h2 class="mb-3">{{product.title}}</h2>
  <h5 class="mb-3"> Цена: {{product.price}} ₽</h5>
  <div class="row justify-content-md-left mb-3 ml-1">
    <input class="form-control text-center me-3 mr-2" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
    <button class="btn btn-outline-dark flex-shrink-0" type="button">
        <i class="bi-cart-fill me-1"></i>
        Add to cart
    </button>
  </div>
  <div id="accordion">
    <div class="card mb-2">
      <div class="card-header bg-secondary">
        <a class="card-link text-light" data-toggle="collapse" href="#collapseOne">
         В двух словах об {{product.title}}:
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          {{product.description}}
        </div>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-header bg-secondary">
        <a class="collapsed card-link text-light" data-toggle="collapse" href="#collapseTwo">
        Подробнее об {{product.title}}:
      </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-secondary">
        <a class="collapsed card-link text-light" data-toggle="collapse" href="#collapseThree">
        Характеристики {{product.title}}:
      </a>
      </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
            {{ product|product_spec }}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>