{% extends 'shop/base.html' %}

{% load static %}

{% block title %}
Home page
{% endblock %}

{% block img %}
url('{% static 'images/main_light.jpg' %}')
{% endblock %}


{% block content %}
<div>
    <div style="min-height: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-auto mx-auto text-center product_title bg-white" style="opacity: 0.80;">
                    {% if category.name %}
                       <h1>
                            {{category.name}}
                       </h1>
                  {% else %}
                       <h1>
                           {% if search_query %}
                           teat
                           {% else %}
                           <p>Все товары</p>
                           {% endif %}
                       </h1>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            {% for product in products %}
            <div class="card col-xxl-3 m-3" style="width:345px; min-width:300px; max-width: 95vw; border-radius: 0px;">
                <div style="height: 60%; margin-bottom: 10px;">
                    <a href="{{product.get_url}}"><img class="card-img-top p-3 " src="{{product.image.url}}" alt="Card image" style="vertical-align: middle;"></a>
                </div>
                <div class="card-body" style="height: 100%">
                      <h4 class="card-title text-center" style="height: 50%">{{product.name}}</h4>
                    <div class="row mb-2" style="height: 20%">
                        <div class="col">
                            <p class="price-card card-text text-danger text-left text-uppercase font-weight-bold h4">{{product.price}}₽</p>
                        </div>
                        <div class="col">
                            <p class="price-card card-text text-dark text-right font-weight h4">{{product.volume}}мл</p>
                        </div>
                    </div>
                {% if product.stock <= 0 %}
                    <h5 class="text-justify product_text">Товар закончился</h5>
                {% else %}
                <a href="{% url 'add_cart' product.id %}" class="btn btn-dark text-uppercase font-weight btn-card" style="color: #E9E9E9;letter-spacing: .2em; border-radius: 0px;">
                    Добавить
                    <i class="material-icons cart-icon" style="color: #E9E9E9; vertical-align: middle;">
                    add_shopping_cart</i>
                </a>
                {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
