<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; top: 0; left: 0; width: 100%; z-index:999; min-height: 60px;">
    <div class="container-fluid px-4 px-lg-5">
        <a class="navbar-brand text-capitalize font-weight-bold" href="{% url 'base' %}"><kbd>my-e-commerce</kbd></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'base' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Catalog</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>

                        {% for category in categories %}
                            <a class="dropdown-item" href="{{category.url}}">{{category.name}} ({{category.count}})</a>
                        {% endfor %}

                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <a href="{% url 'cart' %}" class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                        Корзина
                    <span class="badge bg-danger text-white ms-1 rounded-pill">10</span>
                </a>
            </form>
        </div>
    </div>
</nav>
