{% extends 'shop/base.html' %}

{% load static %}

{% block title %}
    Product
{% endblock %}

{% block img %}
url('{% static 'images/main_white.jpg' %}')
{% endblock %}



{% block content %}
<div class="container-fluid mt-3">
    <div class="row text-center">
        <div class="col-xl-6 my-3 p-3">
                <img src="{{product.image.url}}" style="width: 70%; margin-left: auto; margin-right: auto;">
        </div>
        <div class="col-xl-6 my-3 p-3 ">
                <div>
                    <h1 class="product_title text-center">{{ product.name }}</h1>
                    <br>
                    {% if product.stock <= 0 %}
                        <h5 class="text-justify product_text">Товар закончился</h5>
                    {% else %}
                    <div class="row">
                        <div class="col-7">
                            <h3 class="text-danger product_text">{{product.price}} ₽</h3>
                        </div>
                        <div class="col-2">
                            <h3 class="text-dark product_text" style="max-width: 150px">{{product.volume}}мл</h3>
                        </div>
                    </div>
                    <br>
                    <a href="{% url 'add_cart' product.id %}" class="btn btn-dark text-uppercase font-weight btn-card" style="color: #E9E9E9; letter-spacing: .2em; max-width: 200px; border-radius: 0px;">
                        Добавить
                        <i class="material-icons cart-icon" style="color: #E9E9E9; vertical-align: middle;">
                        add_shopping_cart
                    </i>
                    </a>
                    <br>
                    {% endif %}
                    {% include 'shop/description.html' %}
                </div>
        </div>
    </div>
</div>
{% endblock %}